<div class="mdl-card mdl-shadow--2dp demo-card-square">
  <div class="mdl-card__title_{{note.color}} mdl-card--expand">
  </div>

  <div class="mdl-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Mauris sagittis pellentesque lacus eleifend lacinia...
  </div>
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="showEditName($event)">
      {{note.title}}
    </a>
    <div class="formEditTitle hide">
        <form action="#">
          <div class="mdl-textfield mdl-js-textfield textfield-demo" style="display: inline-flex">
            <input class="mdl-textfield__input" style="width:70%" 
               type="text"
               id="note_{{note.id}}"
               name="note_{{note.id}}"
               ng-model="note.title" 
               />
               
            <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
            <i class="material-icons" ng-click="closeEditingName()">save</i>
          </label>
          </div>
        </form>
     </div>

  </div>


   <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" ng-click="removeNote(note)">
      <i class="material-icons">delete</i>
    </button>
  </div>
</div>

